* {
    font-family: "Roboto", sans-serif;
  }

body{
    background-color: black;
}
.inlogFormulier{
position: relative;
padding-top: 20vw;
padding-left: 50%;


}
.inlogVeld{
    position: relative;
    margin-left: -10vw;
    box-sizing: relative;
    border-radius: 12px;
    font-size: 20px;
   
}
.inlogKnop{
    position: relative;
    font-size: 20px;
    border-radius: 20px;
  

}