* {
    font-family: "Roboto", sans-serif;
  }

body{
    background-color: black;
}
.inlogFormulier{
padding-top: 100px;
padding-left: 100px;

}
.inlogVeld{
    border-radius: 12px;
    font-size: 20px;
    font-style: 
    background-color: rgb(79, 165, 252);
}
.inlogKnop{
    font-size: 20px;
    border-radius: 20px;
    

}