body{
    background-color: black;
}

.achtergrondOverlay {
    width: inherit;
    height: inherit;
    z-index: 999;
    position: absolute;
  }
  
  .achtergrondImage {
    position: absolute;
    z-index: -1;
    width: inherit;
    height: inherit;
    background-image: url("Afbeeldingen/Content_achtergrond.jpg");
    background-size: inherit;
    filter: blur(2px);
  }