/*Niet verwijderen*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*Deze column spacing kan je overal gebruiken*/
:root {
  --column-spacing1: 3vw;
}

.navigatieBar {
  width: 100%;
  height: 80px;
  background-color: #474f91;
}

.logo {
  /*Breedte van het vak waar de titel / logo in staat*/
  width: 200px;

  /*Tekst opmaak*/
  font-size: 16px;
  color: orange;
  font-style: italic;
}

.logo h1 {
  /*Positie*/
  padding-top: 20px;
  margin-left: 6vw;
}

.menu {
  /*Zet het menu rechts in de header*/
  float: right;

  /*Verdere positionering*/
  margin-top: 30px;
  margin-right: 20vw;
}

.menu a {
  /*Haalt de normale opmaak van een link eraf*/
  text-decoration: none;

  /*Positie tussen de links*/

  margin-right: var(--column-spacing1);

  /*Link opmaak*/
  color: #c9c9c9;
  font-size: 18px;
}

.menu a:hover {
  font-weight: bold;
  color: white;
}

.content {
  width: 100%;
  height: 46vw;
}

.pakkendeTitel {
  padding-top: 4vw;
  text-align: center;
}

.info {
  /*Positie*/
  margin-top: 5vw;
  margin-right: auto;
  margin-left: auto;

  /*Grootte section1*/
  width: 65vw;
  height: 35vw;

  background-color: #ebebebeb;
}

.section1,
.section2 {
  /*Positie*/
  margin-left: 5%;

  /*Grootte section1*/
  width: 90%;
  height: 50%;

  /* background-color: blue; */
}

.afbeeldingSection1,
.afbeeldingSection2 {
  /*Positie*/
  float: left;
  margin-top: 4%;
  margin-left: 4%;

  /*afbeelding*/
  background-image: url(Afbeeldingen/abonnement.png);
  background-size: cover;

  /*afmeting afbeelding*/
  width: 40%;
  height: 70%;
}

.infoTekstSection1,
.infoTekstSection2 {
  /*Positie*/
  float: right;
  margin-top: 4%;
  margin-right: 10%;

  /*Grootte tekststukje*/
  width: 40%;
}

.infoTekstSection1 p,
.infoTekstSection2 p {
  margin-top: 14px;
  font-weight: 500;
  word-spacing: 5px;
}
